<h1>Data Science Tools and Ecosystem</h1>

In this notebook, Data Science Tools and Ecosystem are summarized.

<b>Objectives:<b>

  
    * List popular languages for Data Science
    * List popular libraries for Data Science
    * Evaluating arthemetic expressions

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Java
4. Julia

Some of the commonly used libraries used by Data Scientists include:
1. pandas
2. numpy
3. matplotlib
4. seaborn

|Data Science Tools|
|------------------|
|RStudio|
|Apache Spark|
|TensorFlow|

<h3>Below are a few examples of evaluating arithmetic expressions in Python.</h3>

In [1]:
#This a simple arithmetic expression to mutiply then add integers
x=(3*4)+5
print(x)

17

In [2]:
#This will convert 200 minutes to hours by diving by 60
x=200
y=x/60
print(y)

3.3333333333333335

<h2>Author</h2>
Varshini